* {
	box-sizing: border-box;
}
#preview {
	max-width: 500px;
	#preview-box {
		resize: none;
		width: 100%;
	}
	.border-radius-changer {
		width: 60px;
	}
	.top {
		position: relative;
		margin: 10px 0;
		#top-right {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.bottom {
		position: relative;
		margin: 10px 0;
		#bottom-right {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	textarea {
		padding: 10px;
		border-radius: 0;
		&:focus {
			outline: none;
		}
	}
}
